<%- include ('partials/header.ejs') %>

  <body>
    <%- include ('partials/navbar') %>
      <div class="container">
        <div class="card" id="form-ask">
          <div class="card-header">
            <h3>Realizar pergunta</h3>
          </div>
          <div class="card-body">
            <form method="POST" action="/savequestion">
              <label class="">Título</label>
              <input name="title" class="form-control" type="text" placeholder="Titulo">
              <br>
              <label class="">Descrição</label>
              <textarea name="description" class="form-control" placeholder="Digite sua pergunta aqui"></textarea>
              <br>
              <button class="btn btn-dark" type="submit">Confirmar</button>
            </form>
          </div>
        </div>
      </div>
  </body>
  <%- include ('partials/footer.ejs') %>